<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <!-- Bootstrap core CSS -->
  <link href="../static/blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<style>
  .color{
   color:black;
  }
</style>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="about.html">About</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="checkup.html">Check Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="color">
        <h1 class="mt-5 color" align="center">ABOUT</h1>
        <br>
        <p class="lead color">
          Medical imaging consists of set of processes or techniques to create visual representations of the interior parts of the body such as organs or tissues for clinical purposes to monitor health, diagnose and treat diseases and injuries. Moreover, it also helps in creating database of anatomy and physiology.Deep learning in computer vision has shown great progress in capturing hidden representations and extract features from them. These feature extraction improve with better data and supervision so much that they can help diagnose a physician efficiently.

          The deep learning techniques are composed of algorithms like Convolutional Neural Networks (CNNs), Recurrent Neural Networks (RNNs), Long Short Term Memory (LSTM) Networks, Generative Adversarial Networks (GANs) etc which don’t require manual preprocessing on raw data.Deep learning uses efficient method to do the diagnosis in state of the art manner. Applications of deep learning in healthcare industry provide solutions to variety of problems ranging from disease diagnostics to suggestions for personalised treatment.


        </p>
        <h1 class="mt-5 color" align="center"></h1>
        <p class="lead color">
          <b>Data Source : The datasets are taken from Kaggle.</b>
          <br>
        </p>

        <h1 class="mt-5 color" align="center">CONTACT INFORMATION</h1>
        <p class="lead color">
          <br>
          <b>Sweta Rani Sahu : B517055@gmail.com</b><br>
          <b>Swati Priya     : B517054@gmail.com</b><br>
          <b>Smita Prakash   : B517045@gmail.com</b><br></b>
        </p>


      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/blog/vendor/jquery/jquery.slim.min.js"></script>
  <script src="../static/blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>